# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.




#Backend
backend/node_modules/
backend/dist/
backend/api.log

#Frontend
frontend/node_modules/

backend/files/firebase-sdk.json
